
$xs: 0;
$smmobile: 576px;
$sm: 768px;
$md: 992px;
$lg: 1024px;
$xl: 1280px;


$bgNavHeader: #ededed;
$bgMain: #dadada;
$bgLegal: #ebebeb;
$bgPreFooter: #363636;
$bgFooter: #000000;

$colorText: #000;
$colorTextTitle: #2e2e2e;
$colorTextDescription: #4a4a4a;

$colorFooterTextTitle: white;
$colorTextDescription: #bdbdbd;
